<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head">
    <style>
        .container {
            width:100%;
            height: 100%;
        }
    </style>

<body class="bg-light">
<div th:replace="fragments.html :: main-nav"></div>
<div class="alert alert-warning" role="alert" th:if="${account != null && !account?.emailVerified}">
    STUDICON 가입을 완료하려면 <a href="#" th:href="@{/check-email(email=${account.email})}" class="alert-link">계정 인증 이메일을 확인</a>하세요.
</div>

<div class="container text-center" style="width : 100%;height: 100%; padding:0px">
    <video id = "video" muted autoplay loop>
        <source src="/images/home_video_1.mp4" type="video/mp4">
    </video>
</div>

<div th:replace="fragments.html :: footer"></div>
<div th:replace="fragments.html :: date-time"></div>

</body>
</html>